{% extends 'vestlus.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="p-0 breadcrumb bg-light">
            <li class="breadcrumb-item">Chat</li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'vestlus:channel-list' %}">Channels</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'vestlus:channel-detail' channel.slug %}">{{ channel.name }}</a>
            </li>
            <li class="breadcrumb-item" aria-label="page">
                Invite Member to Channel
            </li>
        </ol>
    </nav>

    <div class="d-flex justify-content-between align-items-center w-100">
        <h1 class="title pb-4">Invite member to channel</h1>
    </div>

    <!-- Channel form -->
    <form class="pb-4" action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <button class="btn btn-outline-primary" type="submit">Add new member</button>
    </form>
</div>
{% endblock %}
